<div class="container">
  <mat-card>
    <mat-card-title>Reset password</mat-card-title>
    <mat-card-content>
      <div *ngIf="(wasReset | async) === null">
        <h4 class="card-subtitle">Enter your new password</h4>
        <mat-form-field appearance="fill">
          <mat-label>New password</mat-label>
          <input
            matInput
            autocomplete="off"
            [formControl]="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="form-footer">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="resetPassword(password.value)"
          >
            Change password
          </button>
        </div>
      </div>
      <div *ngIf="(wasReset | async) === false">
        <h4 class="card-subtitle">Token is no longer valid</h4>
      </div>
      <div *ngIf="(wasReset | async) === true">
        <h4 class="card-subtitle">Password was successfully changed</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
