<div class="container">
  <mat-card>
    <mat-card-title>Register account</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Enter a username</mat-label>
        <input
          matInput
          placeholder="Username"
          [formControl]="username"
          required
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="name@example.com"
          [formControl]="email"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a password</mat-label>
        <input
          matInput
          autocomplete="off"
          [formControl]="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="form-footer">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="register(username.value, email.value, password.value)"
        >
          Register
        </button>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="card-footer">
        <mat-card-subtitle>Already have an account?</mat-card-subtitle>
        <button mat-raised-button routerLink="/login">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
