<!-- <div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div> -->

<div
  style="height: 80vh"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="initMap($event)"
  (contextmenu)="open($event); $event.preventDefault()"
></div>

<ng-template #userMenu>
  <mat-action-list class="context-menu">
    <button (click)="openDialog()" mat-list-item>Add pin</button>
    <button *ngIf="isOnPin()" (click)="removePin(toRemove)" mat-list-item>
      Delete Pin
    </button>
  </mat-action-list>
</ng-template>
