<div class="photo-upload-container">
  <mat-form-field>
    <div>
      <mat-toolbar>
        <input
          matInput
          [value]="
            selectedFileNames.length ? selectedFileNames : 'Select Images'
          "
        />

        <button
          mat-raised-button
          color="primary"
          [disabled]="!selectedFiles"
          (click)="uploadFiles()"
        >
          Create a new map
        </button>
      </mat-toolbar>
      <input
        class="hidden-input"
        type="file"
        id="fileInput"
        name="fileInput"
        accept="image/*"
        multiple
        (change)="selectFiles($event)"
      />
    </div>
  </mat-form-field>
  <div>
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
</div>
