<cdk-tree [dataSource]="folders" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <cdk-nested-tree-node
    id="leaf-node"
    *cdkTreeNodeDef="let node"
    class="example-tree-node"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button
      mat-list-item
      [routerLink]="['lore-collection', node.lore, 'documents', node._id]"
    >
      {{ node.name }}
    </button>
    <button mat-icon-button [matMenuTriggerFor]="documentMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </cdk-nested-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <cdk-nested-tree-node
    *cdkTreeNodeDef="let node; when: hasChild"
    class="example-tree-node"
  >
    <div id="tree-parent">
      <button
        mat-icon-button
        [attr.aria-label]="'Toggle ' + node.name"
        cdkTreeNodeToggle
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
        {{ node.name }}
      </button>
      <button mat-icon-button [matMenuTriggerFor]="documentMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>

<mat-menu #folderMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>

<mat-menu #documentMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
