<div class="container">
  <mat-card>
    <mat-card-title>Password reset</mat-card-title>
    <h4 class="card-subtitle">
      Enter the <b>email address</b> that you used to register. We'll send you
      an email with a link to reset your password
    </h4>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="name@example.com"
          [formControl]="email"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <div class="form-footer">
        <button mat-raised-button color="primary" type="submit">
          Send password recovery email
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
