<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">
      <h2>LoreMap</h2>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/map-upload">
        <mat-icon>account_circle</mat-icon>
        <span>Map upload</span>
      </a>
      <a mat-list-item routerLink="/lore-collection">
        <mat-icon>book</mat-icon>
        <span>My Lore Collection</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/help">
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </a>
      <a mat-list-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Account Settings</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ sectionName }}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
