<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>description</mat-icon>
        <span>Documents</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="action-bar">
      <button mat-button color="primary" (click)="openDialogFolder()">
        <mat-icon>create_new_folder</mat-icon> New folder
      </button>
      <button mat-button color="primary" (click)="openDialogDocument()">
        <mat-icon>note_add</mat-icon> New document
      </button>
    </div>
    <button mat-list-item [routerLink]="['lore-collection', loreId, 'main']">
      Main document
    </button>
    <app-document-tree [documents]="documents"></app-document-tree>
  </mat-expansion-panel>
</mat-accordion>
