
mat-icon {
  margin-right: 10px;
  color: #102078e5;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.action-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 10px;
}

.action-bar button{
  align-items: flex-start;
}
