.card-container {
  margin: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
}

.lore-card {
  width: 65vw;
}

.add-lore {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
