<div class="add-lore">
  <h1>Add a new lore</h1>
  <button mat-mini-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div>
  <div class="card-container">
    <mat-card *ngFor="let lore of loreCollection" class="lore-card">
      <mat-card-title>{{ lore.title }}</mat-card-title>
      <mat-card-actions>
        <button mat-button color="primary">
          <mat-icon>edit</mat-icon>
          WRITE
        </button>
        <button mat-button color="primary" (click)="removeLore(lore)">
          <mat-icon>delete</mat-icon>
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
