/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
    $font-family: "Segoe UI",
  );

@include mat.core($custom-typography);;

@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import "~leaflet/dist/leaflet.css";

@import "../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0;
  background-color: #f5f5f5;
}

